@using Scentasy.Models.Models
@{
    ViewBag.Title = "ViewPerfume";
}

<!DOCTYPE html>
<html dir="ltr" lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base />
    <script src="~/Content/catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="~/Content/catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <link href="~/Content/catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playball" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bigshot+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="~/Content/catalog/view/theme/OPC090218/stylesheet/stylesheet.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/catalog/view/theme/OPC090218/stylesheet/megnor/carousel.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/catalog/view/theme/OPC090218/stylesheet/megnor/custom.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/catalog/view/theme/OPC090218/stylesheet/megnor/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/catalog/view/theme/OPC090218/stylesheet/megnor/lightbox.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/catalog/view/theme/OPC090218/stylesheet/megnor/animate.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/catalog/view/javascript/jquery/magnific/magnific-popup.css">
    <link href="~/Content/catalog/view/javascript/jquery/owl-carousel/owl.carousel.css" type="text/css" rel="stylesheet" media="screen" />
    <link href="~/Content/catalog/view/javascript/jquery/owl-carousel/owl.transitions.css" type="text/css" rel="stylesheet" media="screen" />

    <script type="text/javascript" src="~/Content/catalog/view/javascript/megnor/parallex.js"></script>
    <script type="text/javascript" src="~/Content/catalog/view/javascript/megnor/custom.js"></script>
    <script type="text/javascript" src="~/Content/catalog/view/javascript/megnor/jstree.min.js"></script>
    <script type="text/javascript" src="~/Content/catalog/view/javascript/megnor/carousel.min.js"></script>
    <script type="text/javascript" src="~/Content/catalog/view/javascript/megnor/megnor.min.js"></script>
    <script type="text/javascript" src="~/Content/catalog/view/javascript/megnor/jquery.custom.min.js"></script>
    <script src="~/Content/catalog/view/javascript/megnor/tabs.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Content/catalog/view/javascript/lightbox/lightbox-2.6.min.js"></script>
    <script type="text/javascript" src="~/Content/catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/Content/catalog/view/javascript/megnor/jquery.elevatezoom.min.js"></script>
    <script type="text/javascript" src="~/Content/catalog/view/javascript/megnor/bootstrap-notify.min.js"></script>
    <script>
               function quickbox(){
                if ($(window).width() > 767) {
               		$('.quickview').magnificPopup({
               			type:'iframe',
               			delegate: 'a',
               			preloader: true,
               			tLoading: 'Loading image #%curr%...',
               		});
                }
               }
               jQuery(document).ready(function() {quickbox();});
               jQuery(window).resize(function() {quickbox();});

    </script>
    <script src="~/Content/catalog/view/javascript/common.js" type="text/javascript"></script>
    <link href="~/Content/image/catalog/cart.png" rel="icon" />
    <script src="~/Content/catalog/view/javascript/jquery/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
</head>


<body class="product-quick_view-35 layout-2 left-col">
    <nav id="top">
        <div class="container">
            <div class="social_block">
                <ul>
                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i> </a></li>
                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="instagrm"><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li class="whatsapp"><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
            </div>
            <div id="top-links" class="nav pull-right">
                <ul class="list-inline">
                    <li>
                        <div class="content_headercms_top">
                            <div class="Advertise">Free shipping on all orders over $75!</div>
                        </div>
                    </li>
                    <li class="col-sm-5 header_search">
                        <div class="search"><i class="fa fa-search"></i></div><div id="search" class="input-group searchtoggle">
                            <input type="text" name="search" value="" placeholder="Search" class="form-control input-lg" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-lg"><span class="button-search"></span></button>
                            </span>
                        </div>
                    </li>
                    <li class="dropdown myaccount">
                        <a href="indexe223.html?route=account/account" title="My Account" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right myaccount-menu">
                            <li><a href="index5502.html?route=account/register">Register</a></li>
                            <li><a href="indexe223.html?route=account/login">Login</a></li>
                            <li><a href="indexe223.html?route=account/wishlist" id="wishlist-total" title="Wish List (0)">Wish List (0)</a></li>
                            <li><a href="index630e.html?route=checkout/checkout" title="Checkout">Checkout</a></li>
                            <li class="lang_cur_block">
                                <div class="pull-left">
                                    <form action="http://opencart.templatemela.com/OPC09/OPC090218/index.php?route=common/currency/currency" method="post" enctype="multipart/form-data" id="form-currency">
                                        <div class="btn-group">
                                            <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                                <span class="hidden-xs hidden-sm hidden-md">Cur : </span>
                                                <strong>$</strong>
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu currency-menu">
                                                <li><button class="currency-select btn btn-link btn-block" type="button" name="EUR">€ Euro</button></li>
                                                <li><button class="currency-select btn btn-link btn-block" type="button" name="GBP">£ Pound Sterling</button></li>
                                                <li><button class="currency-select btn btn-link btn-block" type="button" name="USD">$ US Dollar</button></li>
                                            </ul>
                                        </div>
                                        <input type="hidden" name="code" value="" />
                                        <input type="hidden" name="redirect" value="http://opencart.templatemela.com/OPC09/OPC090218/index.php?route=product/quick_view&amp;product_id=35" />
                                    </form>
                                </div>
                                <div class="pull-left">
                                    <form action="http://opencart.templatemela.com/OPC09/OPC090218/index.php?route=common/language/language" method="post" enctype="multipart/form-data" id="form-language">
                                        <div class="btn-group">
                                            <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                                <span class="hidden-xs hidden-sm hidden-md">Lan : </span>
                                                <img src="catalog/language/en-gb/en-gb.png" alt="English" title="English">
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu language-menu">
                                                <li><button class="btn btn-link btn-block language-select" type="button" name="en-gb"><img src="catalog/language/en-gb/en-gb.png" alt="English" title="English" /> English</button></li>
                                                <li><button class="btn btn-link btn-block language-select" type="button" name="ar"><img src="catalog/language/ar/ar.png" alt="Arabic" title="Arabic" /> Arabic</button></li>
                                            </ul>
                                        </div>
                                        <input type="hidden" name="code" value="" />
                                        <input type="hidden" name="redirect" value="http://opencart.templatemela.com/OPC09/OPC090218/index.php?route=product/quick_view&amp;product_id=35" />
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <header>



       
        <div class="container">
            <div class="row">
                <div class="header_center_static">
                    <div class="free_shipping">
                        <div class="first">Free Shipping</div>
                        <div class="second">On Over $75</div>
                    </div>
                    <span class="img-icon mobile"></span>
                    <div class="call_us">
                        <div class="first">Call Us</div>
                        <div class="second">0123-456-789</div>
                    </div>
                </div>		  <div class="col-sm-4 logo">
                    <div id="logo">
                        <a href="index9328.html?route=common/home"><img src="image/catalog/logo.png" title="Your Store" alt="Your Store" class="img-responsive" /></a>
                    </div>
                </div>

                <div class="header_right">
                    <div class="col-sm-3 header_cart">
                        <div id="cart" class="btn-group btn-block">
                            <div data-toggle="dropdown" data-loading-text="Loading..." class="cart_button btn btn-inverse btn-block btn-lg dropdown-toggle"><span class="img-icon cart"></span><div id="cart-total">0 item(s) <div class="total-payment"> $0.00 </div></div></div>
                            <ul class="dropdown-menu pull-right cart-menu">
                                <li>
                                    <p class="text-center">Your shopping cart is empty!</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <nav class="nav-container" role="navigation">
        <div class="nav-inner container">
            <!-- ======= Menu Code START ========= -->
            <!-- Opencart 3 level Category Menu-->
            <div id="menu" class="main-menu">
                <ul class="nav navbar-nav">
                    <li class="top_level"> <a href="index9328.html?route=common/home">Home</a></li>
                    <li class="top_level">
                        <a href="index98dc.html?route=product/category&amp;path=20">
                            <span data-hover="Floral">Floral</span>
                        </a>
                        <span class="active_menu"></span>
                        <div class="categorybg">

                            <div class="categoryinner">

                                <ul>

                                    <li class="categorycolumn">
                                        <b><a class="submenu1" href="indexd9fe.html?route=product/category&amp;path=20_26">Floral Oriental</a></b>


                                        <div class="cate_inner_bg">
                                            <ul>
                                                <li style="padding-right:6px;"><a class="submenu2" href="indexcd74.html?route=product/category&amp;path=20_26_75">aromas</a></li>
                                                <li style="padding-right:6px;"><a class="submenu2" href="index0296.html?route=product/category&amp;path=20_26_60">Lavender</a></li>
                                                <li style="padding-right:6px;"><a class="submenu2" href="indexacfe.html?route=product/category&amp;path=20_26_77">oakmoss</a></li>
                                                <li style="padding-right:6px;"><a class="submenu2" href="index7d11.html?route=product/category&amp;path=20_26_61">Orange Blossom</a></li>
                                            </ul>
                                        </div>


                                    </li>
                                </ul>
                                <ul>

                                    <li class="categorycolumn">
                                        <b><a class="submenu1" href="indexf345.html?route=product/category&amp;path=20_27">Soft Floral</a></b>


                                        <div class="cate_inner_bg">
                                            <ul>
                                                <li style="padding-right:6px;"><a class="submenu2" href="indexccda.html?route=product/category&amp;path=20_27_78">Cherry Blossom </a></li>
                                                <li style="padding-right:6px;"><a class="submenu2" href="index1dd9.html?route=product/category&amp;path=20_27_59">Jasmine</a></li>
                                                <li style="padding-right:6px;"><a class="submenu2" href="index9c07.html?route=product/category&amp;path=20_27_62">Roses</a></li>
                                                <li style="padding-right:6px;"><a class="submenu2" href="indexb48e.html?route=product/category&amp;path=20_27_76">spicy-sweetness</a></li>
                                            </ul>
                                        </div>


                                    </li>
                                </ul>
                                <ul>

                                    <li class="categorycolumn">
                                        <b><a class="submenu1" href="index3ebb.html?route=product/category&amp;path=20_33">Citrus</a></b>


                                        <div class="cate_inner_bg">
                                            <ul>
                                                <li style="padding-right:6px;"><a class="submenu2" href="indexfc61.html?route=product/category&amp;path=20_33_64">Cristalle Eau Verte </a></li>
                                                <li style="padding-right:6px;"><a class="submenu2" href="indexcee4.html?route=product/category&amp;path=20_33_63">Giorgio Armani</a></li>
                                                <li style="padding-right:6px;"><a class="submenu2" href="index72b4.html?route=product/category&amp;path=20_33_80">Pink Citron</a></li>
                                                <li style="padding-right:6px;"><a class="submenu2" href="indexe74a.html?route=product/category&amp;path=20_33_79">Pomegranet Blood Orange</a></li>
                                            </ul>
                                        </div>


                                    </li>
                                </ul>



                            </div>
                        </div>

                    <li class="top_level">
                        <a href="index7fa3.html?route=product/category&amp;path=18">
                            <span data-hover="Oriental">Oriental</span>
                        </a>
                        <span class="active_menu"></span>
                        <div class="categorybg">

                            <div class="categoryinner">

                                <ul>

                                    <li class="categorycolumn">
                                        <b><a class="submenu1" href="index96fb.html?route=product/category&amp;path=18_72">Mossy Woods</a></b>


                                        <div class="cate_inner_bg">
                                            <ul>
                                                <li style="padding-right:6px;"><a class="submenu2" href="index20e2.html?route=product/category&amp;path=18_72_82">aromatic herbs</a></li>
                                                <li style="padding-right:6px;"><a class="submenu2" href="indexf00b.html?route=product/category&amp;path=18_72_73">Green</a></li>
                                                <li style="padding-right:6px;"><a class="submenu2" href="index8284.html?route=product/category&amp;path=18_72_74">Spicy</a></li>
                                                <li style="padding-right:6px;"><a class="submenu2" href="indexdc43.html?route=product/category&amp;path=18_72_83">vetiver</a></li>
                                            </ul>
                                        </div>


                                    </li>
                                </ul>
                                <ul>

                                    <li class="categorycolumn">
                                        <b><a class="submenu1" href="index9f41.html?route=product/category&amp;path=18_46">Soft Oriental</a></b>


                                        <div class="cate_inner_bg">
                                            <ul>
                                                <li style="padding-right:6px;"><a class="submenu2" href="indexe026.html?route=product/category&amp;path=18_46_68"> cinnamon</a></li>
                                                <li style="padding-right:6px;"><a class="submenu2" href="indexb897.html?route=product/category&amp;path=18_46_66"> musk</a></li>
                                                <li style="padding-right:6px;"><a class="submenu2" href="index39c6.html?route=product/category&amp;path=18_46_67">clove</a></li>
                                                <li style="padding-right:6px;"><a class="submenu2" href="index66de.html?route=product/category&amp;path=18_46_65">sandalwood</a></li>
                                            </ul>
                                        </div>


                                    </li>
                                </ul>
                                <ul>

                                    <li class="categorycolumn">
                                        <b><a class="submenu1" href="index8470.html?route=product/category&amp;path=18_45">Woody Oriental</a></b>


                                        <div class="cate_inner_bg">
                                            <ul>
                                                <li style="padding-right:6px;"><a class="submenu2" href="index4d1c.html?route=product/category&amp;path=18_45_70">barks and mosses</a></li>
                                                <li style="padding-right:6px;"><a class="submenu2" href="index2634.html?route=product/category&amp;path=18_45_71">dominant amber</a></li>
                                                <li style="padding-right:6px;"><a class="submenu2" href="index1f41.html?route=product/category&amp;path=18_45_69">patchouli</a></li>
                                            </ul>
                                        </div>


                                    </li>
                                </ul>



                            </div>
                        </div>

                    <li class="top_level">
                        <a href="index70a9.html?route=product/category&amp;path=57">
                            <span data-hover="Oceanic">Oceanic</span>
                        </a>
                    <li class="top_level">
                        <a href="index1647.html?route=product/category&amp;path=25">
                            <span data-hover="Woody">Woody</span>
                        </a>
                        <span class="active_menu"></span>
                        <div class="categorybg">

                            <div class="categoryinner">

                                <ul>

                                    <li class="categorycolumn">
                                        <b><a class="submenu1" href="indexe177.html?route=product/category&amp;path=25_28">Dry Woods</a></b>


                                        <div class="cate_inner_bg">
                                            <ul>
                                                <li style="padding-right:6px;"><a class="submenu2" href="index6d46.html?route=product/category&amp;path=25_28_36">patchouli</a></li>
                                                <li style="padding-right:6px;"><a class="submenu2" href="indexdea7.html?route=product/category&amp;path=25_28_84">sandalwood</a></li>
                                            </ul>
                                        </div>


                                    </li>
                                </ul>
                                <ul>

                                    <li class="categorycolumn">
                                        <b><a class="submenu1" href="indexc219.html?route=product/category&amp;path=25_29">Mossy Woods</a></b>


                                        <div class="cate_inner_bg">
                                            <ul>
                                                <li style="padding-right:6px;"><a class="submenu2" href="indexa57d.html?route=product/category&amp;path=25_29_81">ambery</a></li>
                                            </ul>
                                        </div>


                                    </li>
                                </ul>



                            </div>
                        </div>

                    <li class="top_level">
                        <a href="indexb152.html?route=product/category&amp;path=17">
                            <span data-hover="Spicy">Spicy</span>
                        </a>
                    <li class="top_level">
                        <a href="indexc957.html?route=product/category&amp;path=24">
                            <span data-hover="Fruity">Fruity</span>
                        </a>
                    <li class="top_level">
                        <a href="index8122.html?route=product/category&amp;path=34">
                            <span data-hover="Fresh">Fresh</span>
                        </a>
                        <span class="active_menu"></span>
                        <div class="categorybg">

                            <div class="categoryinner">

                                <ul>

                                    <li class="categorycolumn"><b><a class="submenu1" href="indexd86f.html?route=product/category&amp;path=34_38">Citrus</a></b>

                                </ul>
                                <ul>

                                    <li class="categorycolumn"><b><a class="submenu1" href="index9716.html?route=product/category&amp;path=34_37">Fruity</a></b>

                                </ul>
                                <ul>

                                    <li class="categorycolumn"><b><a class="submenu1" href="index2bab.html?route=product/category&amp;path=34_39">Green</a></b>

                                </ul>
                                <ul>

                                    <li class="categorycolumn">
                                        <b><a class="submenu1" href="indexbe11.html?route=product/category&amp;path=34_52">test 20</a></b>


                                        <div class="cate_inner_bg">
                                            <ul>
                                                <li style="padding-right:6px;"><a class="submenu2" href="indexcc97.html?route=product/category&amp;path=34_52_58">test 25</a></li>
                                            </ul>
                                        </div>


                                    </li>
                                </ul>
                                <ul>

                                    <li class="categorycolumn"><b><a class="submenu1" href="indexb234.html?route=product/category&amp;path=34_53">test 21</a></b>

                                </ul>
                                <ul>

                                    <li class="categorycolumn"><b><a class="submenu1" href="indexcd03.html?route=product/category&amp;path=34_54">test 22</a></b>

                                </ul>
                                <ul>

                                    <li class="categorycolumn"><b><a class="submenu1" href="index000c.html?route=product/category&amp;path=34_55">test 23</a></b>

                                </ul>
                                <ul>

                                    <li class="categorycolumn"><b><a class="submenu1" href="indexfee0.html?route=product/category&amp;path=34_56">test 24</a></b>

                                </ul>
                                <ul>

                                    <li class="categorycolumn"><b><a class="submenu1" href="index7fe6.html?route=product/category&amp;path=34_41">test 8</a></b>

                                </ul>
                                <ul>

                                    <li class="categorycolumn"><b><a class="submenu1" href="indexd7cc.html?route=product/category&amp;path=34_42">test 9</a></b>

                                </ul>
                                <ul>

                                    <li class="categorycolumn"><b><a class="submenu1" href="index6493.html?route=product/category&amp;path=34_40">Water</a></b>

                                </ul>



                            </div>
                        </div>

                    </li>
                    <li class="menu-blog"> <a href="indexc295.html?route=information/blogger/blogs">Blogs</a></li>
                </ul>
                <div class="custom_menu menu">
                    <a href="http://opencart.templatemela.com/OPC09/index.php?route=product/special">
                        <span><span class="new-custom">new</span>Special Offer</span>
                    </a>
                    <div class="customblock_inner">
                        <div class="megnor-advanced-menu-popup_inner">
                            <div class="custom_static">
                                <div class="custom_static_inner">
                                    <div class="static-block1">
                                        Deal Of the Day<ul class="custom-link">
                                            <li><a href="#">Flat 20% Off</a></li>
                                            <li><a href="#">Flat 35% Off</a></li>
                                            <li><a href="#">Extra 20% Off</a></li>
                                            <li><a href="#">Extra 30% Off</a></li>
                                            <li><a href="#">Minimum 50% Off</a></li>
                                            <li><a href="#">Starting at Rs.150</a></li>
                                        </ul>
                                    </div>
                                    <div class="custom_banner"><a href="#"><img src="image/catalog/Offer-banner.jpg" alt=""></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--  =============================================== Mobile menu start  =============================================  -->
            <div id="res-menu" class="main-menu nav-container1">
                <div class="nav-responsive"><span>Menu</span><div class="expandable"></div></div>
                <ul class="main-navigation">
                    <li>
                        <a href="index98dc.html?route=product/category&amp;path=20">Floral</a>

                        <ul>

                            <li>
                                <a href="indexd9fe.html?route=product/category&amp;path=20_26" class="activSub">Floral Oriental</a>

                                <ul>
                                    <li><a href="indexcd74.html?route=product/category&amp;path=20_26_75">aromas</a></li>
                                    <li><a href="index0296.html?route=product/category&amp;path=20_26_60">Lavender</a></li>
                                    <li><a href="indexacfe.html?route=product/category&amp;path=20_26_77">oakmoss</a></li>
                                    <li><a href="index7d11.html?route=product/category&amp;path=20_26_61">Orange Blossom</a></li>
                                </ul>

                            </li>
                        </ul>
                        <ul>

                            <li>
                                <a href="indexf345.html?route=product/category&amp;path=20_27" class="activSub">Soft Floral</a>

                                <ul>
                                    <li><a href="indexccda.html?route=product/category&amp;path=20_27_78">Cherry Blossom </a></li>
                                    <li><a href="index1dd9.html?route=product/category&amp;path=20_27_59">Jasmine</a></li>
                                    <li><a href="index9c07.html?route=product/category&amp;path=20_27_62">Roses</a></li>
                                    <li><a href="indexb48e.html?route=product/category&amp;path=20_27_76">spicy-sweetness</a></li>
                                </ul>

                            </li>
                        </ul>
                        <ul>

                            <li>
                                <a href="index3ebb.html?route=product/category&amp;path=20_33" class="activSub">Citrus</a>

                                <ul>
                                    <li><a href="indexfc61.html?route=product/category&amp;path=20_33_64">Cristalle Eau Verte </a></li>
                                    <li><a href="indexcee4.html?route=product/category&amp;path=20_33_63">Giorgio Armani</a></li>
                                    <li><a href="index72b4.html?route=product/category&amp;path=20_33_80">Pink Citron</a></li>
                                    <li><a href="indexe74a.html?route=product/category&amp;path=20_33_79">Pomegranet Blood Orange</a></li>
                                </ul>

                            </li>
                        </ul>

                    </li>
                    <li>
                        <a href="index7fa3.html?route=product/category&amp;path=18">Oriental</a>

                        <ul>

                            <li>
                                <a href="index96fb.html?route=product/category&amp;path=18_72" class="activSub">Mossy Woods</a>

                                <ul>
                                    <li><a href="index20e2.html?route=product/category&amp;path=18_72_82">aromatic herbs</a></li>
                                    <li><a href="indexf00b.html?route=product/category&amp;path=18_72_73">Green</a></li>
                                    <li><a href="index8284.html?route=product/category&amp;path=18_72_74">Spicy</a></li>
                                    <li><a href="indexdc43.html?route=product/category&amp;path=18_72_83">vetiver</a></li>
                                </ul>

                            </li>

                            <li>
                                <a href="index9f41.html?route=product/category&amp;path=18_46" class="activSub">Soft Oriental</a>

                                <ul>
                                    <li><a href="indexe026.html?route=product/category&amp;path=18_46_68"> cinnamon</a></li>
                                    <li><a href="indexb897.html?route=product/category&amp;path=18_46_66"> musk</a></li>
                                    <li><a href="index39c6.html?route=product/category&amp;path=18_46_67">clove</a></li>
                                    <li><a href="index66de.html?route=product/category&amp;path=18_46_65">sandalwood</a></li>
                                </ul>

                            </li>

                            <li>
                                <a href="index8470.html?route=product/category&amp;path=18_45" class="activSub">Woody Oriental</a>

                                <ul>
                                    <li><a href="index4d1c.html?route=product/category&amp;path=18_45_70">barks and mosses</a></li>
                                    <li><a href="index2634.html?route=product/category&amp;path=18_45_71">dominant amber</a></li>
                                    <li><a href="index1f41.html?route=product/category&amp;path=18_45_69">patchouli</a></li>
                                </ul>

                            </li>
                        </ul>

                    </li>
                    <li>
                        <a href="index70a9.html?route=product/category&amp;path=57">Oceanic</a>
                    </li>
                    <li>
                        <a href="index1647.html?route=product/category&amp;path=25">Woody</a>

                        <ul>

                            <li>
                                <a href="indexe177.html?route=product/category&amp;path=25_28" class="activSub">Dry Woods</a>

                                <ul>
                                    <li><a href="index6d46.html?route=product/category&amp;path=25_28_36">patchouli</a></li>
                                    <li><a href="indexdea7.html?route=product/category&amp;path=25_28_84">sandalwood</a></li>
                                </ul>

                            </li>

                            <li>
                                <a href="indexc219.html?route=product/category&amp;path=25_29" class="activSub">Mossy Woods</a>

                                <ul>
                                    <li><a href="indexa57d.html?route=product/category&amp;path=25_29_81">ambery</a></li>
                                </ul>

                            </li>
                        </ul>

                    </li>
                    <li>
                        <a href="indexb152.html?route=product/category&amp;path=17">Spicy</a>
                    </li>
                    <li>
                        <a href="indexc957.html?route=product/category&amp;path=24">Fruity</a>
                    </li>
                    <li>
                        <a href="index8122.html?route=product/category&amp;path=34">Fresh</a>

                        <ul>

                            <li>

                                <a href="indexd86f.html?route=product/category&amp;path=34_38">Citrus</a>


                            </li>

                            <li>

                                <a href="index9716.html?route=product/category&amp;path=34_37">Fruity</a>


                            </li>

                            <li>

                                <a href="index2bab.html?route=product/category&amp;path=34_39">Green</a>


                            </li>
                        </ul>
                        <ul>

                            <li>
                                <a href="indexbe11.html?route=product/category&amp;path=34_52" class="activSub">test 20</a>

                                <ul>
                                    <li><a href="indexcc97.html?route=product/category&amp;path=34_52_58">test 25</a></li>
                                </ul>

                            </li>

                            <li>

                                <a href="indexb234.html?route=product/category&amp;path=34_53">test 21</a>


                            </li>

                            <li>

                                <a href="indexcd03.html?route=product/category&amp;path=34_54">test 22</a>


                            </li>
                        </ul>
                        <ul>

                            <li>

                                <a href="index000c.html?route=product/category&amp;path=34_55">test 23</a>


                            </li>

                            <li>

                                <a href="indexfee0.html?route=product/category&amp;path=34_56">test 24</a>


                            </li>

                            <li>

                                <a href="index7fe6.html?route=product/category&amp;path=34_41">test 8</a>


                            </li>
                        </ul>
                        <ul>

                            <li>

                                <a href="indexd7cc.html?route=product/category&amp;path=34_42">test 9</a>


                            </li>

                            <li>

                                <a href="index6493.html?route=product/category&amp;path=34_40">Water</a>


                            </li>
                        </ul>

                    </li>
                    <li> <a href="indexc295.html?route=information/blogger/blogs">Blogs</a></li>
                </ul>
            </div>
            <!--  ================================ Mobile menu end   ======================================   -->
            <!-- ======= Menu Code END ========= -->
        </div>
    </nav>
    <div class="content_breadcum"></div>


    <div class="quickview_modal">
        <div class="quickview-container">


            <div id="content" class="productpage-quickview">
                <div class="">
                    <h2 class="page-title">La Vie Est Belle</h2>

                    <div class="col-sm-6 product-left">
                        <div class="product-info">



                            <div class="left product-image thumbnails">

                                <!-- Megnor Cloud-Zoom Image Effect Start -->
                                <div class="image"><a class="thumbnail" title="La Vie Est Belle"><img id="tmzoom" src="image/cache/catalog/6-445x617.jpg" data-zoom-image="http://opencart.templatemela.com/OPC09/OPC090218/image/cache/catalog/6-721x1000.jpg" title="La Vie Est Belle" alt="La Vie Est Belle" /></a></div>




                                <!-- Megnor Cloud-Zoom Image Effect End-->
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6 product-right">
                        <h3 class="product-title">La Vie Est Belle</h3>


                        <div class="rating-wrapper">
                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>

                            <a class="review-count" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">0 reviews</a><a class="write-review" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;"><i class="fa fa-pencil"></i> Write a review</a>
                        </div>


                        <ul class="list-unstyled short-desc">
                            <li><span class="desc">Product Code:</span>Product 8</li>
                            <li><span class="desc">Availability:</span>In Stock</li>
                        </ul>


                        <ul class="list-unstyled">
                            <li>
                                <span class="old-price" style="text-decoration: line-through;">$122.00</span>
                                <h4 class="special-price">$86.00</h4>
                            </li>
                            <li class="price-tax">Ex Tax:<span>$70.00</span></li>
                        </ul>

                        <div id="product2">

                            <h3 class="product-option">Available Options</h3>
                            <div class="form-group required">
                                <label class="control-label" for="input-option224">Size</label>
                                <select name="option[224]" id="input-option224" class="form-control">
                                    <option value=""> --- Please Select --- </option>
                                    <option value="13">
                                        Medium                                (+$12.00)
                                    </option>
                                    <option value="14">
                                        Large                                (+$18.00)
                                    </option>
                                </select>
                            </div>





                            <div class="product-rightinfo">


                                <div class="form-group cart-block">
                                    <label class="control-label qty" for="input-quantity">Qty</label>
                                    <input type="text" name="quantity" value="1" size="2" id="input-quantity" class="form-control" />
                                    <input type="hidden" name="product_id" value="35" />

                                    <button type="button" id="button-cart2" data-loading-text="Loading..." class="btn btn-primary btn-lg btn-block">Add to Cart</button>
                                </div>
                                <div class="btn-group wish-comp">
                                    <button type="button" class="btn btn-default wishlist" title="Add to WishList" onclick="parent.wishlist.add('35');"><i class="fa fa-heart"></i>Add to WishList</button>
                                    <button type="button" class="btn btn-default compare" title="Add to Compare" onclick="parent.compare.add('35');"><i class="fa fa-area-chart"></i>Add to Compare</button>
                                </div>

                            </div>
                        </div>
                        <div class="content_product_block"> </div>
                    </div>

                </div>
            </div>





        </div>
    </div>
    </div>
    <script type="text/javascript">
<!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert, .text-danger').remove();

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
//--></script>
    <script type="text/javascript">
<!--
$('#button-cart2').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#product2 input[type=\'text\'], #product2 input[type=\'hidden\'], #product2 input[type=\'radio\']:checked, #product2 input[type=\'checkbox\']:checked, #product2 select, #product2 textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart2').button('loading');
		},
		complete: function() {
			$('#button-cart2').button('reset');
		},
		success: function(json) {
			$('.alert, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().before('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.before('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

		if (json['success']) {
				$.notify({
					message: json['success'],
					target: '_blank'
				},{
					// settings
					element: 'body',
					position: null,
					type: "info",
					allow_dismiss: true,
					newest_on_top: false,
					placement: {
						from: "top",
						align: "center"
					},
					offset: 0,
					spacing: 10,
					z_index: 2031,
					delay: 5000,
					timer: 1000,
					url_target: '_blank',
					mouse_over: null,
					animate: {
						enter: 'animated fadeInDown',
						exit: 'animated fadeOutUp'
					},
					onShow: null,
					onShown: null,
					onClose: null,
					onClosed: null,
					icon_type: 'class',
					template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-success" role="alert">' +
						'<button type="button" aria-hidden="true" class="close" data-notify="dismiss">&nbsp;&times;</button>' +
						'<span data-notify="message"><i class="fa fa-check-circle"></i>&nbsp; {2}</span>' +
						'<div class="progress" data-notify="progressbar">' +
							'<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
						'</div>' +
						'<a href="{3}" target="{4}" data-notify="url"></a>' +
					'</div>'
				});

				$('#cart .cart_button').html('<span class="img-icon cart"></span><div id="cart-total">' + json['total'] + '</div>');

				$('html, body').animate({ scrollTop: 0 }, 'slow');

				$('#cart > ul').load('index1e1c.html?route=common/cart/info%20ul%20li');
      }
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});
//--></script>
    <script type="text/javascript">
<!--
$('.date').datetimepicker({
	pickTime: false
});

$('.datetime').datetimepicker({
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script>
    <script type="text/javascript">
<!--
$('#review').delegate('.pagination a', 'click', function(e) {
  e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});

$('#review').load('index8f62.html?route=product/product/review&amp;product_id=35');

$('#button-review').on('click', function() {
	$.ajax({
		url: 'index.php?route=product/product/write&product_id=35',
		type: 'post',
		dataType: 'json',
		data: $("#form-review").serialize(),
		beforeSend: function() {
			$('#button-review').button('loading');
		},
		complete: function() {
			$('#button-review').button('reset');
		},
		success: function(json) {
			$('.alert-success, .alert-danger').remove();

			if (json['error']) {
				$('#review').after('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}

			if (json['success']) {
				$('#review').after('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

				$('input[name=\'name\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').prop('checked', false);
			}
		}
	});
});

//$(document).ready(function() {
//	$('.thumbnails').magnificPopup({
//		type:'image',
//		delegate: 'a',
//		gallery: {
//			enabled:true
//		}
//	});
//});


$(document).ready(function() {
if ($(window).width() > 767) {
		$("#tmzoom").elevateZoom({

				gallery:'additional-carousel',
				//inner zoom

				zoomType : "inner",
				cursor: "crosshair"

				/*//tint

				tint:true,
				tintColour:'#F90',
				tintOpacity:0.5

				//lens zoom

				zoomType : "lens",
				lensShape : "round",
				lensSize : 200

				//Mousewheel zoom

				scrollZoom : true*/


			});
		var z_index = 0;

     			    		$(document).on('click', '.thumbnail', function () {
     			    		  $('.thumbnails').magnificPopup('open', z_index);
     			    		  return false;
     			    		});

     			    		$('.additional-carousel a').click(function() {
     			    			var smallImage = $(this).attr('data-image');
     			    			var largeImage = $(this).attr('data-zoom-image');
     			    			var ez =   $('#tmzoom').data('elevateZoom');
     			    			$('.thumbnail').attr('href', largeImage);
     			    			ez.swaptheimage(smallImage, largeImage);
     			    			z_index = $(this).index('.additional-carousel a');
     			    			return false;
     			    		});

	}else{
		$(document).on('click', '.thumbnail', function () {
		$('.thumbnails').magnificPopup('open', 0);
		return false;
		});
	}
});
$(document).ready(function() {
	$('.thumbnails').magnificPopup({
		delegate: 'a.elevatezoom-gallery',
		type: 'image',
		tLoading: 'Loading image #%curr%...',
		mainClass: 'mfp-with-zoom',
		gallery: {
			enabled: true,
			navigateByImgClick: true,
			preload: [0,1] // Will preload 0 - before current, and 1 after the current image
		},
		image: {
			tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
			titleSrc: function(item) {
				return item.el.attr('title');
			}
		}
	});
});

$('#tabs a').tabs();
$('#custom_tab a').tabs();
$('#top').remove();
$('.top_button').remove();


//--></script>
    <footer>
        <div id="footer" class="container">
            <div class="footer_inner">
                <div class="footer_left_block col-sm-3 column">
                    <h5>About us</h5>
                    <ul class="about">
                        <li class="footer-logo"><a href="#"><img src="image/catalog/footer-logo.png" alt=""></a></li>
                        <li class="desc">Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes</li>
                    </ul>
                </div>
                <div class="col-sm-3 column">
                    <h5>Information</h5>
                    <ul class="list-unstyled">
                        <li><a href="index8816.html?route=information/information&amp;information_id=4">About Us</a></li>
                        <li><a href="index1766.html?route=information/information&amp;information_id=6">Delivery Information</a></li>
                        <li><a href="index1679.html?route=information/information&amp;information_id=3">Privacy Policy</a></li>
                        <li><a href="index99e4.html?route=information/information&amp;information_id=5">Terms &amp; Conditions</a></li>
                        <li class="last"><a href="index2724.html?route=information/contact">Contact Us</a></li>
                    </ul>
                </div>

                <div class="col-sm-3 column">
                    <h5>My Account</h5>
                    <ul class="list-unstyled">
                        <li><a href="indexe223.html?route=account/account">My Account</a></li>
                        <li><a href="indexe223.html?route=account/order">Order History</a></li>
                        <li><a href="indexe223.html?route=account/wishlist">Wish List</a></li>
                        <li><a href="indexe223.html?route=account/newsletter">Newsletter</a></li>
                        <li><a href="indexf110.html?route=product/special">Specials</a></li>
                    </ul>
                </div>

                <div class="col-sm-3 column Contact_us">
                    <h5>Contact Us</h5>
                    <ul>

                        <li class="address">Aroma Perfume Store, 42 Puffin street 12345<br>United States </li>
                        <li class="phoneno"> 0123456789</li>
                        <li class="email"><a href="#">support@yourstore.com</a></li>
                    </ul>
                </div>
            </div>

            <div class="fotter_bottom_section">
                <!--<div class="manufacture_block">
                                   <h3 class="manufacturer_title">Brands</h3>
                       <ul>
                                            <li class="manufacturer_item"><a href="http://opencart.templatemela.com/OPC09/OPC090218/index.php?route=product/manufacturer/info&amp;manufacturer_id=8">Apple</a></li>
                                            <li class="manufacturer_item"><a href="http://opencart.templatemela.com/OPC09/OPC090218/index.php?route=product/manufacturer/info&amp;manufacturer_id=9">Canon</a></li>
                                            <li class="manufacturer_item"><a href="http://opencart.templatemela.com/OPC09/OPC090218/index.php?route=product/manufacturer/info&amp;manufacturer_id=7">Hewlett-Packard</a></li>
                                            <li class="manufacturer_item"><a href="http://opencart.templatemela.com/OPC09/OPC090218/index.php?route=product/manufacturer/info&amp;manufacturer_id=5">HTC</a></li>
                                            <li class="manufacturer_item"><a href="http://opencart.templatemela.com/OPC09/OPC090218/index.php?route=product/manufacturer/info&amp;manufacturer_id=6">Palm</a></li>
                                            <li class="manufacturer_item"><a href="http://opencart.templatemela.com/OPC09/OPC090218/index.php?route=product/manufacturer/info&amp;manufacturer_id=10">Sony</a></li>
                                       </ul>
                           </div>-->

            


                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 column newsletter">
                            <h5 class="toggle">NewsLetter<a class="mobile_togglemenu"> </a></h5>
                            <ul class="list-unstyled">
                                <form method="post">
                                    <div class="form-group required">
                                        <img src="image/catalog/envelop.png" alt="">
                                        <h3 class="toggle">NewsLetter</h3>
                                        <div class="col-sm-10">
                                            <input type="email" name="txtemail" id="txtemail" value="" placeholder="E-Mail" class="form-control input-lg" />
                                            <button type="submit" class="btn btn-default btn-lg" onclick="return subscribe();">Subscribe<i class="fa fa-long-arrow-right" aria-hidden="true"></i><i class="fa fa-long-arrow-left" aria-hidden="true"></i></button>

                                        </div>
                                    </div>
                                </form>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="footer_payment_block">
                    <ul class="payment_block">
                        <li class="visa">
                            <a href="#"> </a>
                        </li>
                        <li class="mastro">
                            <a href="#"> </a>
                        </li>
                        <li class="paypal">
                            <a href="#"> </a>
                        </li>
                        <li class="mastercard">
                            <a href="#"> </a>
                        </li>
                        <li class="discover">
                            <a href="#"> </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer_bottom_links">
                <div class="footer_bottom container">
                    <div id="links">
                        <ul>
                            <li class="first"><a href="index3d18.html?route=affiliate/account">Affiliates</a></li>
                            <li><a href="index4dd2.html?route=account/voucher">Gift Certificates</a></li>
                            <li><a href="index71ba.html?route=account/return/add">Returns</a></li>
                            <li><a href="index7cb2.html?route=information/sitemap">Site Map</a></li>
                            <li class="last"><a href="index2724.html?route=information/contact">Contact Us</a></li>
                        </ul>
                    </div>
                    <p>Powered By <a href="http://www.opencart.com/">OpenCart</a> Your Store &copy; 2019</p>
                </div>
            </div>

        </div>
    </footer>

    <!--
    OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
    Please donate via PayPal to donate@opencart.com
    //-->
    <!-- Theme created by Welford Media for OpenCart 2.0 www.welfordmedia.co.uk -->

</body>
<!-- Mirrored from opencart.templatemela.com/OPC09/OPC090218/index.php?route=product/quick_view&product_id=35 by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 Jul 2019 15:27:04 GMT -->
</html>
<style>
    nav, header {
        display: none;
    }

    footer {
        display: none;
    }

    .content-top-breadcum {
        display: none;
    }

    .content_breadcum {
        display: none;
    }

    #powered {
        display: none;
    }

    #container {
        width: 850px;
    }

    .top_button {
        display: none !important;
    }
</style>
