
@{
    ViewBag.Title = "Dashboard Home";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<div class="content-page">

    <!-- Start content -->
    <div class="content">

        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb-holder">
                        <h1 class="main-title float-left">Dashboard</h1>
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item">Home</li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row">

                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="card-box noradius noborder bg-success">
                        <i class="fa fa-glass float-right text-white"></i>
                        <h6 class="text-white text-uppercase m-b-20">Perfumes</h6>
                        <h1 class="m-b-20 text-white counter">xx</h1>
                        <span class="text-white">&nbsp;</span>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="card-box noradius noborder bg-default">
                        <i class="fa fa-ravelry float-right text-white"></i>
                        <h6 class="text-white text-uppercase m-b-20">Scents</h6>
                        <h1 class="m-b-20 text-white counter">xx</h1>
                        <span class="text-white">&nbsp;</span>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="card-box noradius noborder bg-warning">
                        <i class="fa fa-users float-right text-white"></i>
                        <h6 class="text-white text-uppercase m-b-20">Users</h6>
                        <h1 class="m-b-20 text-white counter">xx</h1>
                        <span class="text-white">&nbsp;</span>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="card-box noradius noborder bg-info">
                        <i class="fa fa-shopping-cart float-right text-white"></i>
                        <h6 class="text-white text-uppercase m-b-20">Orders</h6>
                        <h1 class="m-b-20 text-white counter">xx</h1>
                        <span class="text-white">&nbsp;</span>
                    </div>
                </div>




            </div>
            <!-- end row -->





        </div>
        <!-- end row -->




    </div>
    <h1></h1>



</div>
<!-- END container-fluid -->
		</div>
<!-- END content -->
